.menu {
  padding: 2rem 4rem;
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #eee;
}

.menu nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.menu nav a {
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 10px;
  color: inherit;
  background-color: #fff;
  text-decoration: none;
}
