.chessSquare {
  width: calc(100% / 8);
  height: calc(100% / 8);
}

.chessSquare.light {
  background-color: white;
}

.chessSquare.dark {
  background-color: gray;
}

.chessSquare.light.previous {
  background-color: hsl(340, 40%, 70%);
}

.chessSquare.dark.previous {
  background-color: hsl(340, 20%, 60%);
}

.chessSquare.light.move {
  background-color: hsl(55, 50%, 80%);
}

.chessSquare.dark.move {
  background-color: hsl(55, 40%, 60%);
}

.chessSquare.light.selected {
  background-color: hsl(100, 60%, 80%);
}

.chessSquare.dark.selected {
  background-color: hsl(100, 40%, 60%);
}

.chessPiece {
  width: 100%;
  height: 100%;
}
