* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font: system-ui, sans-serif;
  --scale: 85;
  --max-width: calc(var(--scale) * 1vw);
  --max-height: calc(var(--scale) * 1vh);
  --max: min(var(--max-width), var(--max-height));

  font-family: var(--font);
  font-size: 100%;
}

button,
input {
  font-family: var(--font);
  font-size: inherit;
  text-align: inherit;
}

#root {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
